.App {
  text-align: center;
}
.start-game {
  display: flex;
  flex-wrap: wrap;

}


.race-card {
  width: 300px;
  /*height: 300px;*/
  background-color: #094393;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  gap: 20px;
  border-radius: 5px;
  color: #34b4be;
}

.race-card>img {
  width: 50%;
  /*margin: -10px;*/
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 10px;
}
p {
  text-align: left;
  margin: 0;
  padding: 0;
  border-bottom: 1px dotted slateblue;
}
b {
  font-weight: 900;
  color: #34b4be;
}
.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #34b4be;
  height: 80px;
}
.main-header>button{
  width: 120px;
  height: 40px;
  border-radius: 20px;
}
.main-container {
  position: relative;
  margin: 25px;
  padding: 60px 10px 10px 10px;
  border: 1px dotted black;
  flex: 1;
  overflow: hidden;

}
.main-container>header {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  padding: 10px;
  background-color: #34b4be;
}

.item-card {
  display: flex;
  /*height: 120px;*/
  padding: 10px;
  border: 1px dotted black;

}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*ARENA*/
button.attack{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px double #000000;
  background-color: #34b4be;
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
}
.arena {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fighter {
  height: 350px;
}

.progress-bg {
  width: 100%;
  margin: 20px 0;
  padding: 3px;
  /*border: 1px dashed #000000;*/
  background-color: #e3e3e3;
  border-radius: 15px;
  overflow: hidden;
}

.progress {

  background-color: #34b4be;
  height: 25px;
  border-radius: 15px;
}



